/*

EX.

.gid-[groupid] {
    background: red;
}

*/

.gid-1, .gid-2, .gid-5 {
    background: #808080;
}

.gid-3, .gid-6 {
    background: #CC00CC;
}

.gid-4 {
    background: green;
}

.gid-7 {
    background: black;
}

.profile-rank {
    display: inline-block;
}

.profile-rank span {
    font-size: 11px;
    font-weight: bold;
    padding: 2px 6px;
    margin: 5px 0;
    color: #fff;
    border-radius: 3px;
    display: inline-block;
}